@tailwind base;
@tailwind components;
@tailwind utilities;

.ce-block__content {
  @apply lg:max-w-[40rem];
}

.wizzard {
  @apply py-4;
}

.wizzard input {
  @apply w-full p-2 rounded-sm text-sm focus:outline-none border border-gray-300;
}

.inline-wizz {
  @apply w-full p-2 rounded-sm text-sm focus:outline-none border border-gray-300;
}

.wizzard.withBorder img {
  border: 1px solid #e8e8eb;
}

.wizzard.withBackground {
  background: #eff2f5;
  padding: 10px;
}

.wizzard.withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto 15px;
}

.cdx-marker {
  background: rgba(245, 235, 111, 0.29);
  padding: 3px 0;
}

.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-toolbar__plus:hover {
  background: hsl(224 71% 4%);
  color: inherit;
  border-color: hsl(216 34% 17%);
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: inherit;
}

.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  background-color: hsl(223 47% 11%);
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: hsl(216 34% 17%);
  background: hsl(216 34% 17%);
  color: inherit;
}

.dark ::selection {
  background: hsl(216 34% 17%);
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: hsl(216 34% 17%);
  color: hsl(210 40% 98%);
}

.dark .cdx-notify--error {
  background: hsl(0 63% 31%) !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}
