@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --font-mono: "IBM Plex Sans", sans-serif;
    --gradient: #050e33;
    --background: 243 99.1% 98.22%;
    --foreground: 243 8.2% 0.44%;

    --muted: 243 8.2% 91.1%;
    --muted-foreground: 243 4.1% 41.1%;

    --popover: 243 24.400000000000006% 91.1%;
    --popover-foreground: 243 8.2% 0.55%;

    --card: 243 24.400000000000006% 91.1%;
    --card-foreground: 243 8.2% 0.55%;

    --border: 243 13.2% 89.44%;
    --input: 243 13.2% 89.44%;

    --primary: 243 82% 11%;
    --primary-foreground: 243 1.64% 91.1%;

    --secondary: 243 4.1% 95.55%;
    --secondary-foreground: 243 5.92% 11.1%;

    --accent: 243 4.1% 95.55%;
    --accent-foreground: 243 5.92% 11.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 82% 11%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #0b3bff;

    --background: 242 65% 4.16%;
    --foreground: 242 10% 97.6%;

    --muted: 242 50% 15.600000000000001%;
    --muted-foreground: 242 10% 55.2%;

    --popover: 242 45% 6.76%;
    --popover-foreground: 242 10% 97.6%;

    --card: 242 45% 6.76%;
    --card-foreground: 242 10% 97.6%;

    --border: 242 50% 15.600000000000001%;
    --input: 242 50% 15.600000000000001%;

    --primary: 242 100% 52%;
    --primary-foreground: 242 10% 5.2%;

    --secondary: 242 50% 15.600000000000001%;
    --secondary-foreground: 242 10% 97.6%;

    --accent: 242 50% 15.600000000000001%;
    --accent-foreground: 242 10% 97.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 242 10% 97.6%;

    --ring: 242 100% 52%;
  }
}

body {
  font-family: "League Spartan", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex items-center justify-center w-8 h-8 text-base font-medium text-center rounded-full bg-muted -indent-px;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.ce-block__content {
  @apply lg:max-w-[40rem];
}

.wizzard {
  @apply py-4;
}

.wizzard input {
  @apply w-full p-2 text-sm border rounded-sm focus:outline-none;
}

.inline-wizz {
  @apply w-full p-2 text-sm border rounded-sm focus:outline-none;
}

.wizzard.withBorder img {
  border: 1px solid #e8e8eb;
}

.wizzard.withBackground {
  background: #eff2f5;
  padding: 10px;
}

.wizzard.withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto 15px;
}

.cdx-marker {
  background: rgba(245, 235, 111, 0.29);
  padding: 3px 0;
}

.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-toolbar__plus:hover {
  background: hsl(224 71% 4%);
  color: inherit;
  border-color: hsl(216 34% 17%);
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: inherit;
}

.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  background-color: hsl(223 47% 11%);
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: hsl(216 34% 17%);
  background: hsl(216 34% 17%);
  color: inherit;
}

.dark ::selection {
  background: hsl(216 34% 17%);
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: hsl(216 34% 17%);
  color: hsl(210 40% 98%);
}

.dark .cdx-notify--error {
  background: hsl(0 63% 31%) !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}

.prose img {
  width: 100%;
}
